@import url("http://code.jquery.com/ui/1.8.21/themes/base/jquery-ui.css");

/* Map */
div#assetMap div#map {
    position:relative;
    margin:30px 0 0 0;
    width:100%;
    height:400px;
}

/* Alert */

div#assetMap div#alerts {
    color:#e81717;
}

/* Results */
div#assetMap #results h2{  
    color:#130c38;
    font-size:17px;
} 
div#assetMap #results{  
    min-height:250px;
} 

div#assetMap #results h2{  
    color:#130c38;
    font-size:17px !important;
	padding:0px !important;
    margin:10px 0px 0px 0px !important;
} 
div#assetMap #results h3{  
    color:#888397;
    margin:0px !important;
	padding:0px !important;
    font-size:14px;
} 

div#assetMap #results .resourceItem{  
    margin:15px 0px 0px 5px;
	padding: 0;
    font-size:11px;
} 
div#assetMap #results .resourceColumns
{
	width: 50%;
	float:left;	
}

